# where Mlflow stores run metadata (SQLite)
# MLFLOW_TRACKING_URI=sqlite:///artifacts/mlflow/mlruns.db
# MLFLOW_TRACKING_URI=file:./artifacts/mlflow

# on server:
MLFLOW_TRACKING_URI=http://127.0.0.1:8080

# where Mlflow stores artifacts (models, plots, json, etc.)
MLFLOW_ARTIFACT_ROOT=file:./artifacts/mlflow/artifacts

# default experiment name
MLFLOW_EXPERIMENT_NAME=TennisVision
