.venv/
__pycache__/
*.pyc
.DS_Store

.env
.env.*
.venv *
!.env.example
.vscode

data/
runs/
checkpoints/
*.pt
*.pth
*.onnx
*.zip
*.tar

#artifacts / runs /mlflow
artifacts/
mlruns/
*.db

*.egg-info/

# Temporary CVAT export
cvat_export/
tennis_detection_cvat.zip